@media only screen and (max-width: 1250px) {
    .container {
        flex-direction: column;
    }
}


@media only screen and (max-width: 720px) {

    .pepsi .rectangle .btn {
        display: none;
    }

    .pepsi .rectangle .title,
    .pepsi .rectangle .description {
        width: 100%;
    }

    .pepsi:hover .rectangle {
        width: 350px;
        height: 400px;
    }

    .pepsi:active #figure_pepsi {
        filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
    }

    .rectangle {
        flex-direction: column;
        padding: 30px;
    }

    .container .pepsi:hover .rectangle {
        height: 500px;
    }

    .container .pepsi:hover #figure_pepsi{
        transform: translateY(-65px);
        height: 150px;
    }

    .container .pepsi .rectangle .title h1{
        font-size: 2em;
    }

    .container .pepsi:hover .rectangle .title {
        transform: translateY(0px);
        opacity: 1;
    }

    .container .pepsi:hover .rectangle .description {
        transform: translateY(60px);
        padding: 0;
        opacity: 1;
    }

    .rectangle .description {
        transform: translateX(0px);
        order: 10;
    }

    .pepsi .rectangle #logo {
        top: 435px;
        transform: translateX(-105px);
    }

    .pepsi:active .rectangle #logo {
        transform: translateX(-110px);
    }
}