@media only screen and (max-width: 1250px) {
    .container {
        flex-direction: column;
    }
}


@media only screen and (max-width: 720px) {

    .pepsi {
        text-align: center;
    }

    .pepsi .rectangle .title,
    .pepsi .rectangle .description {
        width: 100%;
    }

    .pepsi:hover .rectangle {
        width: 350px;
        height: 400px;
        padding: 50px 30px;
    }

    .pepsi:active img {
        filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
    }

    .pepsi:hover img {
        height: 300px;
        transform: translateY(140px);
    }

    .rectangle {
        flex-direction: column;
    }

    .container .pepsi:active .rectangle {
        height: 500px;
    }

    .container .pepsi:active img{
        transform: translateY(-70px);
        height: 150px;
    }

    .container .pepsi:active .rectangle .title {
    transform: translateY(0px);
    opacity: 1;
    font-size: .7em;
    }

    .container .pepsi:active .rectangle .description {
    transform: translateY(110px);
    opacity: 1;
    }

    .rectangle .description {
        transform: translateX(0px);
        order: 10;
    }
}